# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VDCore.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\dev3\VDCore\.idea\.idea.VDCore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
